<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="tripleCount">10000</entry>
<entry key="readFileName">./data/38/labels_en.nt</entry>
<entry key="redirectCount">536</entry>
<entry key="notFoundCount">18</entry>
</properties>
